@import 'mixin';

.container {
  position: relative;
  background-color: #0B0D0D;
  overflow: hidden;
}

.videoWrap {
  position: relative;
  padding-bottom: 56.25%;
  display: none;
  .dimmed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .9;
    background-color: black;
    z-index: 1;
  }
}

.headingWrap {
  position: relative;
  height: 720px;
  // display: flex;
  // justify-content: center;
  // padding: 134px 0 169px 0;
  @include respond-to('small') {
    //display: none;
  }
}
