@import "mixin";
@import "keyframes";

.container {
  padding: 320px 24px 100px 24px;
  @include respond-to('small') {
    padding: 170px 24px 30px 24px;
  }
  &.visible {
    .title {
      animation: FadeInUp 800ms ease-out forwards;
    }
    .toggleWrap {
      animation: FadeInUp 800ms 100ms ease-out forwards;
    }
    .sessionRow {
      &:first-child {
        animation: FadeInUp 800ms 200ms ease-out forwards;
      }
      &:last-child {
        animation: FadeInUp 800ms 300ms ease-out forwards;
      }
    }
    @include respond-to('small') {
      .title {
        animation: FadeInUpMobile 500ms ease-out forwards;
      }
      .toggleWrap {
        animation: FadeInUpMobile 500ms 100ms ease-out forwards;
      }
      .sessionRow {
        &:first-child {
          animation: FadeInUpMobile 500ms 200ms ease-out forwards;
        }
        &:last-child {
          animation: FadeInUpMobile 500ms 300ms ease-out forwards;
        }
      }
    }
  }
}

.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.3;
  color: white;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  @include respond-to('small') {
    font-size: 30px;
    transform: translateY(40px);
  }
}

.toggleWrap {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  opacity: 0;
  transform: translateY(100px);
  @include respond-to('small') {
    transform: translateY(40px);
  }
}

.sessionCardContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  @include respond-to('small') {
    align-items: center;
    margin-top: 60px;
    gap: 36px;
  }
}

.sessionRow {
  display: flex;
  justify-content: center;
  gap: 21px;
  opacity: 0;
  transform: translateY(100px);
  @include respond-to('small') {
    flex-direction: column;
    margin-top: 0;
    gap: 36px;
    transform: translateY(40px);
  }
}
