.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 6px;

  button {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 1.5;
    padding: 4px 8px;
    color: #A3AAB1;
    z-index: 1;
    background-color: transparent;
    border: none;
    outline: none;
    &:first-child {
      margin-right: 24px;
    }
    &.active {
      color: #FFFFFF;
      &:before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        height: 2px;
        background-color: white;
        content: '';
      }
    }
  }
}
