@import "mixin";

.container {
  padding: 160px 0 200px 0;
  @include respond-to('small') {
    padding: 40px 20px 100px 20px;
  }
}

.textContainer {
  text-align: center;
  strong {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
    background: linear-gradient(94.75deg, #D5D4FA 6.7%, #88B1ED 85.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    margin: 12px 0 0;
    font-size: 80px;
    font-weight: 900;
    line-height: 100px;
    color: #FFFFFF;
  }
  @include respond-to('small') {
    strong {
      font-size: 22px;
    }
    h3 {
      margin: 4px 0 0;
      font-size: 50px;
      line-height: 50px;
    }
  }
}

.shareContainer {
  margin-top: 60px;
  .circle {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    font-size: 0;
    img {
      width: 100%;
      height: 100%;
    };
  }
  .shareSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 794px;
    margin: 100px auto 0 auto;
    padding: 29px 40px 29px 40px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #20232D;
    span {
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      color: #FFFFFF;
    }
    button {
      padding: 20px;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      color: #FFFFFF;
      background-color: #2B2F3B;
      border-radius: 12px;
      border: none;
    }
  }
  @include respond-to('small') {
    margin-top: 48px;
    .circle {
      width: 280px;
      height: 280px;
    }
    .shareSection {
      flex-direction: column;
      margin: 42px auto 0 auto;
      padding: 32px 24px;
      span {
        font-size: 18px;
        line-height: 25px;
      }
      button {
        width: 100%;
        margin-top: 20px;
        padding: 21px;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}
