@import "mixin";
@import "keyframes";

.container {
  padding: 160px 0 0 0;
  background-color: black;
  @include respond-to('small') {
    padding: 40px 0 0 0;
  }
  &.visible {
    .noticeContainer {
      h2 {
        animation: FadeInUp 800ms ease-out forwards;
      }
      p {
        animation: FadeInUp 800ms 100ms ease-out forwards;
      }
      .buttonWrap {
        a:nth-child(1) {
          button {
            animation: FadeInUp 800ms 200ms ease-out forwards;
          }
        }
        a:nth-child(2) {
          button {
           animation: FadeInUp 800ms 300ms ease-out forwards;
          }
        }
        a:nth-child(3) {
          button {
           animation: FadeInUp 800ms 400ms ease-out forwards;
          }
        }
      }
      @include respond-to('small') {
        h2 {
          animation: FadeInUpMobile 500ms ease-out forwards;
        }
        p {
          animation: FadeInUpMobile 500ms 100ms ease-out forwards;
        }
        .buttonWrap {
          a:nth-child(1) {
            button {
              animation: FadeInUpMobile 500ms 200ms ease-out forwards;
            }
          }
          a:nth-child(2) {
            button {
              animation: FadeInUpMobile 500ms 300ms ease-out forwards;
            }
          }
          a:nth-child(3) {
            button {
              animation: FadeInUpMobile 500ms 400ms ease-out forwards;
            }
          }
        }
      }
    }
    .shareContainer {
      .textContainer {
        strong {
          animation: FadeInUp 800ms 500ms ease-out forwards;
        }
        h3 {
          animation: FadeInUp 800ms 600ms ease-out forwards;
        }
      }
      .shareSection {
        p {
          animation: FadeInUp 800ms 700ms ease-out forwards;
        }
        button {
          animation: FadeInUp 800ms 800ms ease-out forwards;
        }
      }
      @include respond-to('small') {
        .textContainer {
          strong {
            animation: FadeInUpMobile 500ms 500ms ease-out forwards;
          }
          h3 {
            animation: FadeInUpMobile 500ms 600ms ease-out forwards;
          }
        }
        .shareSection {
          p {
            animation: FadeInUpMobile 500ms 700ms ease-out forwards;
          }
          button {
            animation: FadeInUpMobile 500ms 800ms ease-out forwards;
          }
        }
      }
    }
  }
}

.noticeContainer {
  padding: 160px 24px 200px 24px;
  text-align: center;
  h2 {
    font-size: 56px;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(100px);
  }
  p {
    margin-top: 32px;
    font-size: 18px;
    color: #D7DEEB;
    opacity: 0;
    transform: translateY(100px);
  }
  .buttonWrap {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 21px;
    button {
      position: relative;
      display: flex;
      align-items: center;
      padding: 24px 20px;
      box-sizing: border-box;
      width: 306px;
      height: 72px;
      background-color: #20232C;
      border-radius: 12px;
      border: none;
      color: #FFFFFF;
      font-size: 18px;
      opacity: 0;
      transform: translateY(100px);
      img {
        width: 24px;
      }
      span {
        margin-left: 6px;
      }
      svg {
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }
  }
  @include respond-to('small') {
    padding: 80px 34px 100px 34px;
    h2 {
      font-size: 30px;
      font-weight: 700;
      transform: translateY(40px);
    }
    p {
      font-size: 16px;
      transform: translateY(40px);
    }
    .buttonWrap {
      margin-top: 60px;
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
      button {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 400px;
        transform: translateY(40px);
        margin: 0 auto;
        span {
          font-size: 18px;
        }
      }
    }
  }
}

.shareContainer {
  position: relative;
  padding: 72px 0 101px 0;
  background: linear-gradient(95.06deg, #8280E3 2.38%, #5590ED 100.44%);
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: soft-light;
    background-size: cover;
  }
  .shareSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 48px;
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      color: #FFFFFF;
      opacity: 0;
      transform: translateY(100px);
    }
    button {
      display: flex;
      align-items: center;
      padding: 17px 20px;
      background-color: #FFFFFF;
      border-radius: 36px;
      border: none;
      gap: 8px;
      opacity: 0;
      transform: translateY(100px);
      span {
        font-size: 18px;
        font-weight: 700;
        color: #4E80E9;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  @include respond-to('small') {
    .shareSection {
      transform: translateY(40px);
      p {
        transform: translateY(40px);
      }
      button {
        transform: translateY(40px);
      }
    }
  }
}

.textContainer {
  text-align: center;
  strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    background: linear-gradient(94.75deg, #D5D4FA 6.7%, #88B1ED 85.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: translateY(100px);
  }
  h3 {
    margin: 8px 0 0;
    font-size: 64px;
    font-weight: 800;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(100px);
  }
  @include respond-to('small') {
    strong {
      transform: translateY(40px);
    }
    h3 {
      transform: translateY(40px);
    }
  }
}
