@import "mixin";
@import "~normalize.css/normalize.css";

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', sans-serif;
  background-color: $background-color;
}

* {
  margin: 0;
  padding: 0;
}

a, li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

br {
  &.desktop {
    display: block;
    @include respond-to('small') {
      display: none;
    }
  }
  &.mobile {
    display: none;
    @include respond-to('small') {
      display: block;
    }
  }
}
