@import "mixin";

.container {
  position: relative;
  width: 380px;
  height: 214px;
  border-radius: 12px;
  background-color: #1F242C;
  @include respond-to('large') {
    width: 260px;
    height: 148px;
  }
  @include respond-to('small') {
    width: 100%;
    max-width: 400px;
    height: 160px;
  }
}

.textWrap {
  position: absolute;
  left: 16px;
  bottom: 16px;
  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: white;
  }
  span {
    font-size: 14px;
    line-height: 22px;
    color: #D7DEEB;
  }
}

.image {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
}
