.container {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuList {
  display: flex;
  justify-content: space-between;
  li {
    color: white;
    font-size: 16px;
    font-weight: 500;
    opacity: .9;
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
