@import 'mixin';

.container {
  position: relative;
  height: 80px;
  max-width: 1440px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  @include respond-to('small') {
    height: 72px;
    padding: 0 20px;
  }
}

.menuList {
  display: flex;
  justify-content: space-between;
  li {
    color: #C0C9DB;
    font-size: 16px;
    font-weight: 500;
    opacity: .9;
    align-self: center;
    &:not(:last-child) {
      margin-right: 24px;
    }
    button {
      font-size: 14px;
      font-weight: 600;
      color: white;
      border: none;
      padding: 7px 20px;
      border-radius: 34px;
      cursor: pointer;
      background: linear-gradient(94.75deg, #918FE7 6.7%, #699EEF 85.54%);
    }
  }
  @include respond-to('small') {
    display: none;
  }
}

.menu {
  display: none;
  @include respond-to('small') {
    display: block;
    width: 20px;
    padding: 2px;
    & > div {
      height: 2px;
      background-color: #FFFFFF;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
