@import "variables";
@import "mixin";
@import "keyframes";

.container {
  text-align: center;
  padding: 230px 0 0 0;
  overflow: hidden;
  background-color: $background-color;
  transition: background-color 1200ms ease-out;
  @include respond-to('small') {
    padding: 80px 0 0 0;
  }
  &.headingVisible {
    .heading {
      h2 {
        animation: FadeInUp 800ms ease-out forwards;
      }
      p {
        animation: FadeInUp 800ms 100ms ease-out forwards;
      }
      @include respond-to('small') {
        h2 {
          animation: FadeInUpMobile 500ms ease-out forwards;
        }
        p {
          animation: FadeInUpMobile 500ms 100ms ease-out forwards;
        }
      }
    }
    .slashContainer {
      h3 {
        animation: FadeInUp 800ms 200ms ease-out forwards;
      }
      svg {
        animation: FadeInUp 800ms 300ms ease-out forwards;
      }
      p {
        animation: FadeInUp 800ms 400ms ease-out forwards;
      }
      @include respond-to('small') {
        h3 {
          animation: FadeInUpMobile 500ms 200ms ease-out forwards;
        }
        svg {
          animation: FadeInUpMobile 500ms 300ms ease-out forwards;
        }
        p {
          animation: FadeInUpMobile 500ms 400ms ease-out forwards;
        }
      }
    }
  }
  &.sponsorVisible {
    background-color: #FFFFFF;
    .heading {
      h2 {
        color: #0B0D0D;
      }
      p {
        color: #787878;
      }
    }
    .slashContainer {
      h3 {
        color: #0B0D0D;
      }
      svg {
        path {
          fill: #0B0D0D;
        }
      }
      p {
        color: #787878;
      }
    }
    .sponsorContainer {
      &:first-child, &:last-child {
        .sponsorRow {
          &:nth-child(1) {
            animation: FadeInUp 800ms 300ms ease-out forwards;
          }
          &:nth-child(2) {
            animation: FadeInUp 800ms 450ms ease-out forwards;
          }
          &:nth-child(3) {
            animation: FadeInUp 800ms 600ms ease-out forwards;
          }
          &:nth-child(4) {
            animation: FadeInUp 800ms 750ms ease-out forwards;
          }
          &:nth-child(5) {
            animation: FadeInUp 800ms 900ms ease-out forwards;
          }
        }
      }
    }
    @include respond-to('small') {
      .sponsorContainer {
        &:first-child, &:last-child {
          .sponsorRow {
            &:nth-child(1) {
              animation: FadeInUpMobile 500ms 500ms ease-out forwards;
            }
            &:nth-child(2) {
              animation: FadeInUpMobile 500ms 650ms ease-out forwards;
            }
            &:nth-child(3) {
              animation: FadeInUpMobile 500ms 800ms ease-out forwards;
            }
            &:nth-child(4) {
              animation: FadeInUpMobile 500ms 950ms ease-out forwards;
            }
            &:nth-child(5) {
              animation: FadeInUpMobile 500ms 1100ms ease-out forwards;
            }
            &:nth-child(6) {
              animation: FadeInUpMobile 500ms 1200ms ease-out forwards;
            }
          }
        }
      }
    }
  }
}

.heading {
  padding: 0 32px;
  h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(100px);
    transition: color 500ms ease-out;
  }
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #D7DEEB;
    margin-top: 30px;
    opacity: 0;
    transform: translateY(100px);
    transition: color 500ms ease-out;
  }
  @include respond-to('small') {
    h2 {
      font-size: 30px;
      transform: translateY(40px);
    }
    p {
      font-size: 16px;
      margin-top: 32px;
      transform: translateY(40px);
    }
  }
}

.slashContainer {
  margin: 120px 0 134px 0;
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(100px);
    transition: color 500ms ease-out;
  }
  svg {
    width: 354px;
    height: 61px;
    margin-top: 48px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(100px);
    path {
      fill: #FFFFFF;
      transition: fill 500ms ease-out;
    }
  }
  p {
    margin-top: 32px;
    font-size: 16px;
    color: #A8B0BF;
    opacity: 0;
    transform: translateY(100px);
    transition: color 500ms ease-out;
  }
  @include respond-to('small') {
    margin: 80px 0 70px 0;
    padding: 0 32px;
    h3 {
      transform: translateY(40px);
    }
    img {
      width: 200px;
      height: 34px;
      margin-top: 24px;
      transform: translateY(40px);
    }
    p {
      margin-top: 48px;
      font-size: 14px;
      transform: translateY(40px);
    }
  }
}

.sponsorContainer {
  display: flex;
  flex-direction: column;
  padding: 109px 0 124px 0;
  margin: 0 auto;
  &:not(:last-child) {
    display: flex;
  }
  &:last-child {
    display: none;
  }
  @include respond-to('small') {
    padding: 60px 32px 100px 32px;
    &:not(:last-child) {
      display: none;
    }
    &:last-child {
      display: flex;
    }
  }
}

.sponsorRow {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  gap: 8px;
  opacity: 0;
  transform: translateY(100px);
  &:first-child {
    margin-bottom: 60px;
  }
  &:last-child {
    margin-top: 12px;
  }
  @include respond-to('small') {
    margin-bottom: 48px;
    transform: translateY(40px);
  }
}
