@import 'mixin';
@import 'keyframes';

.container {
  position: relative;
  text-align: center;
  color: white;
  padding: 160px 0 517px 0;
  overflow: hidden;
  background: linear-gradient(95.06deg, #8280E3 2.38%, #5590ED 100.44%);
  @include respond-to('small') {
    padding: 80px 34px 364px 34px;
  }
  &.visible {
    .title {
      animation: FadeInUp 800ms ease-out forwards;
    }
    .heading {
      h2:first-child {
        animation: FadeInUp 800ms 100ms ease-out forwards;
      }
      h2:last-child {
        animation: FadeInUp 800ms 200ms ease-out forwards;
      }
    }
    .heading2 {
      animation: FadeInUp 800ms 300ms ease-out forwards;
    }
    .paragraph {
      animation: FadeInUp 800ms 400ms ease-out forwards;
    }
    .earth {
      animation: FadeIn 2500ms 1000ms ease-out forwards;
    }
  }
}

.text {
  position: relative;
  z-index: 1;
}

.title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  opacity: 0;
  transform: translateY(100px);
  @include respond-to('small') {
    font-size: 16px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
  mix-blend-mode: soft-light;
  background-size: cover;
}

.heading {
  margin-top: 12px;
  h2 {
    font-size: 60px;
    line-height: 1.3;
    font-weight: 800;
    margin: 0;
    opacity: 0;
    transform: translateY(100px);
  }
  @include respond-to('small') {
    margin-top: 12px;
    h2 {
      font-size: 30px;
      font-weight: 700;
    }
  }
}

.heading2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.6;
  margin: 32px 0 48px 0;
  text-transform: uppercase;
  background: linear-gradient(to right, #D5D4FA, #88B1ED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: translateY(100px);
  @include respond-to('small') {
    font-size: 22px;
    margin: 32px 0;
  }
}

.paragraph {
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin: 0;
  opacity: 0;
  transform: translateY(100px);
  strong {
    font-weight: 700;
    color: rgb(146, 242, 206);
  }
  @include respond-to('small') {
    font-size: 16px;
  }
}

.earth {
  position: absolute !important;
  width: 100%;
  max-width: 1440px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  img {
    width: 100%;
  }
  @include respond-to('small') {
    width: 900px;
  }
}
