.container {
  text-align: center;
  color: white;
}

.Heading {
  h2 {
    font-size: 80px;
    line-height: 96px;
    font-weight: 800;
    margin: 0;
  }
}

.Heading2 {
  font-size: 48px;
  font-weight: 600;
  margin: 48px 0 0;
}

.Paragraph {
  font-size: 20px;
  line-height: 32px;
  color: #e3e5e7;
  margin: 32px 0 0;
}
