@import 'mixin';

.container {
  color: white;
  text-align: center;
  & > h2 {
    font-size: 40px;
  }
  & > p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 25px;
  }
  @include respond-to('small') {
    h2 {
      font-size: 32px;
    }
    & > p {
      margin-top: 12px;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
